.detail-close {
	border-radius: 50%;
	height: 36px;
	width: 36px;
	text-align: center;
	line-height: 36px;
	color: #fff;
	cursor: pointer;
	transition: background 0.3s ease;
	background: rgba(0,0,0,0.5)
}

@media (min-width: 640px) {
	.detail-text {
		float: right;
		width: 30%;
		height: 100%;
		overflow: auto;
	}

	.detail-images {
		float: left;
		width: 65%;
		height: 100%;
		overflow: auto;
	}

	.detail-close {
		position: absolute;
		left: 20px;
		top: 30px;
	}
}

@media (max-width: 640px) {
	.detail-close {
		position: fixed;
		left: 16px;
		top: 16px;
	}

	.detail-images {
		margin-top: 48px;
	}
}

.detail-images li {
	display: block;
	list-style: none;
}

.detail-images li img {
	width: 95%;
	display: block;
}

.detail-close:hover {
	background: rgba(0,0,0,0.8);
}