.detail-close {
	border-radius: 50%;
	height: 36px;
	width: 36px;
	text-align: center;
	line-height: 36px;
	color: #fff;
	cursor: pointer;
	transition: background 0.3s ease;
	background: rgba(0, 0, 0, 0.5)
}

.detail-text h4 {
	box-shadow: 0 0 0 4px rgba(0,0,0,0.9);
	margin-bottom: 36px;
}

.detail-text h1 {
	margin: 8px 0;
	line-height: 32px;
	font-size: 28px;
}

.detail-text h2 {
	font-size: 16px;
	line-height: 16px;
	opacity: 0.9;
}

.detail-text h3 {
	font-size: 14px;
	line-height: 16px;
	opacity: 0.6;
}

.detail-text p {
	margin: 16px 0 0 0;
}

.detail-images li {
	display: block;
	list-style: none;
}

.detail-close:hover {
	background: rgba(0, 0, 0, 0.8);
}

.detail-images::-webkit-scrollbar-track {
	background: linear-gradient(
			to right,
			transparent 0%,
			transparent 30%,
			rgba(0, 0, 0, 0.3) 50%,
			transparent 70%,
			transparent 100%
	)
}

.detail-images::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.detail-images::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0,0,0,0.6);
}

@media (min-width: 640px) {
	.detail-text {
		float: right;
		width: 30%;
		height: 100%;
	}

	.detail-images {
		float: left;
		width: 65%;
		height: 100%;
		overflow: auto;
	}

	.detail-close {
		position: absolute;
		left: 20px;
		top: 30px;
	}
}

@media (max-width: 640px) {
	.detail-close {
		position: fixed;
		left: 16px;
		top: 16px;
	}

	.detail-images {
		margin-top: 48px;
	}
}