gallery {
	height: 100%;
	display: block;
	position: relative;
	overflow: auto;
	column-count: 100;
	column-width: 200px;
	column-gap: 20px;
}

gallery ul{
	display: none;
}

.gallery-item {
	break-inside: avoid;
}

gallery::-webkit-scrollbar-track {
	background: linear-gradient(
		to bottom,
		transparent 0%,
		transparent 30%,
		rgba(0, 0, 0, 0.3) 50%,
		transparent 70%,
		transparent 100%
	)
}

gallery::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

gallery::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0,0,0,0.6);
}