.resume-container {
	height: 100%;
	position: relative;
	font-size: 14px;
	line-height: 16px;
	overflow-x: auto;
	text-align: justify;
}

.resume-container h1 {
	font-weight: 100;
	font-size: 28px;
	line-height: 32px;
	width: 100%;
	opacity: 0.7;
	position: relative;
	will-change: opacity;
	-webkit-column-break-before: always;
}

.resume-container h1 ~ *:not(h1) {
	display: inline-block;
	width: 100%;
}

.resume-container h2 {
	line-height: 32px;
	font-size: 28px;
	font-weight: 600;
}

.resume-container h1 + h2 {
	margin-left: 0;
}

.resume-container h3 {
	font-size: 16px;
	line-height: 16px;
	margin-top: 8px;
	font-weight: 400;
}

.resume-container h4 {
	font-weight: 200;
	opacity: 0.7;
	will-change: opacity;
}

.resume-container h4 + * {
	margin-top: 16px;
}

.resume-container blockquote {
	margin-top: 32px;
	break-inside: avoid;
	-webkit-column-break-inside: avoid;
}

.resume-container h1 + blockquote {
	margin-top: 0;
}

.resume-container ul {
	padding-left: 1.2em;
}

.resume-section-item-link {
	text-decoration: none;
	color: #ffffff;
	display: block;
	float: left;
	border: 1px solid #fff;
	padding: 4px 8px;
	border-radius: 6px;
	margin: 3px 0 0 16px;
}

.resume-section-item-link:hover {
	background: #fff;
	color: #00C4B9;
	border: 1px solid rgba(255, 255, 255, 0.6);
}

.resume-container a {
	border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
	transition: all 0.3s ease;
}

.resume-container a:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.resume-container::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.resume-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #fff;
}

@media (min-width: 640px) {
	.resume-container {
		column-count: 100;
		column-width: 260px;
		column-gap: 20px;
	}

	.resume-container::-webkit-scrollbar-track {
		background: linear-gradient(
			to bottom,
			transparent 0%,
			transparent 30%,
			rgba(255, 255, 255, 0.5) 50%,
			transparent 70%,
			transparent 100%
		)
	}

	.resume-container hr {
		display: none !important;
	}

}

@media (max-width: 640px) {
	.resume-container::-webkit-scrollbar-track {
		background: linear-gradient(
			to right,
			transparent 0%,
			transparent 30%,
			rgba(255, 255, 255, 0.5) 50%,
			transparent 70%,
			transparent 100%
		)
	}

	.resume-container blockquote {
		margin-top: 16px;
	}

	.resume-container hr {
		background-image: linear-gradient(
			to right,
			#fff 10%,
			transparent 11%
		);
		background-position: bottom;
		background-size: 10px 1px;
		background-repeat: repeat-x;
		border: none;
		margin: 32px 0;
		height: 1px;
	}
}